<mat-toolbar *ngIf="user">
  <mat-toolbar-row class="justify-content-between" >
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="row mr-2 ml-auto">
      <button mat-button [matMenuTriggerFor]="menu2" class="user mt-2 d-flex align-items-center" >
        <mat-icon class="user-image-icon ml-1">mail_outline</mat-icon>
      </button>
      <mat-menu #menu2="matMenu" >
        <table>
          <thead>
            <tr>
              <th>Mensajes</th>
            </tr>
          </thead>
          <tbody *ngIf="notis">
            <tr *ngFor="let item of notis.slice().reverse()">
              <td>{{item.mensaje}}</td>
            </tr>
          </tbody>
        </table>
      </mat-menu>
    </div>
    <div class="row mr-2 ml-auto">
      <ul>
        <li>
          <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center" >
            <img *ngIf="user?.fileName" src="{{foto}}" alt="" class="user-image mr-1 p-2" /> <img *ngIf="!user?.fileName" src="http://localhost:8080/img/no_usuario.png" alt="Sin foto" class="user-image mr-1 p-2">
            {{user.userName}}
            <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu" >
            <button mat-menu-item (click)="perfil()">
              <mat-icon>settings</mat-icon>
              Perfil
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              Logout
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
