
<div class="container p-4 bg-white">

  <div class="rounded d-flex justify-content-center">
    <div class="col-md-4 col-sm-12 col-xl-5 shadow-lg p-5 bg-light">
      <div class="text-center">
        <h3>Crear Pedido</h3>
      </div>

      <form autocomplete="off" [formGroup]="formCreate" (ngSubmit)="registerPedido()">

        <div class="form-group form-outline mb-4">
          <label> Mesa </label>
          <select name="mesa" id="mesa" formControlName="mesa" class="form-control">
            <option selected="selected" disabled> {{optionDefault}}</option>
            <option *ngFor="let item of mesas" value="{{item.mesaId}}">{{item.nombreMesa}}</option>
        </select>
        </div>

        <div class="form-group form-outline mb-4">
          <label> Producto </label>
          <select name="producto" id="producto" formControlName="producto" class="form-control" (change)="seleccionarProducto($event)">
            <option [selected]="optionDefault" disabled> {{optionDefault2}}</option>
            <option *ngFor="let item of productos" value="{{item.nombreProducto}}" >{{item.nombreProducto}}</option>
        </select>
        </div>

        <div class="form-group form-outline mb-4">
          <label>Observación</label>
          <input name="descripcion" id="descripcion" type="text" class="form-control" formControlName="descripcion">
        </div>


        <div class="alert alert-info my-4" *ngIf="nuevoPedido.items.length == 0">
          No hay lineas asignadas para el pedido. Debe agrregar al menos una!
        </div>

        <table class="table table-striped table-hover table-sm" *ngIf="nuevoPedido.items.length > 0">
          <thead>
            <tr>
              <th> Producto </th>
              <th> Precio </th>
              <th> Cantidad </th>
              <th> Importe </th>
              <th> Eliminar </th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of nuevoPedido.items">
              <td>{{item.producto.nombreProducto}}</td>
              <td>{{item.producto.precio}}</td>
              <td><input type="number" value="{{item.cantidad}}" class="form-control w-10" (change)="actualizarCantidad(item.producto.nombreProducto, $event)"></td>
              <td>{{item.calcularImporte()}}</td>
              <td><button class="btn btn-danger btn-sm" type="button" (click)="eliminarItemFactura(item.producto.nombreProducto)">X</button></td>
            </tr>
          </tbody>
        </table>

        <h5 class="float-right">Gran Total: <span>{{nuevoPedido.calcularGranTotal()}}</span></h5>

        <button class="btn btn-primary" type="submit" [disabled]="!formCreate.valid" >Añadir</button>

      </form>

    </div>
  </div>

