<app-index></app-index>
<div class="container p-5 flex text-center bg-white">
  <div class="card">
    <p-panel header="Administración de Productos">

      <div style="margin-bottom: 20px;">
        <p-menubar [model]="items"></p-menubar>
      </div>

      <p-table #dt [value]="productos" responsiveLayout="stack" breackpoint="815px" [columns]="cols" selectionMode="single" sortMode="multiple" [(selection)]="selectedProduct"
      dataKey="id" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,9]" [filterDelay]="0" [globalFilterFields]="['nombreProducto', 'descripcion', 'precio']">

        <ng-template pTemplate="header" let-columns>

          <tr>
            <th pSortableColumn="nombreProducto">Producto
              <p-sortIcon field="nombreProducto"></p-sortIcon>
            </th>

            <th pSortableColumn="descripcion">Descripción
              <p-sortIcon field="descripcion"></p-sortIcon>
            </th>

            <th pSortableColumn="precio">Precio
              <p-sortIcon field="precio"></p-sortIcon>
            </th>

          </tr>

        </ng-template>

        <ng-template pTemplate="body" let-producto let-columns="producto">

          <tr  [pSelectableRow]="producto">

            <td> <span class="p-column-title" pSortableColumn="nombreProducto"><strong>Producto</strong></span> {{producto.nombreProducto}} </td>
            <td> <span class="p-column-title" pSortableColumn="descripcion"><strong>Descripción</strong></span> {{producto.descripcion}} </td>
            <td> <span class="p-column-title" pSortableColumn="nombre"><strong>Precio</strong></span> {{producto.precio}} </td>

          </tr>

        </ng-template>

        <ng-template pTemplate="footer" >
          <th style="position: relative; left: 70%; top: 19px;">
            <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar" />
          </th>
        </ng-template>

      </p-table>
    </p-panel>
  </div>
</div>
